@model Site.Models.Yorum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yorum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YorumBaslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YorumBaslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YorumIcerik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YorumIcerik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazi.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kisi.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
