@model IEnumerable<WebSonHal.Models.Yazi>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> Locoptions

@{
    
    ViewData["Title"] = "Home Page";
}
<partial name="_Culture" />
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-post.css" rel="stylesheet">

</head>

<body>
    <!-- Page Content -->
  
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    <!-- Post Content Column -->

                    <br />
                    <!-- Preview Image -->
                    <img class="img-fluid rounded" src="@item.Fotograf" alt="">


                    <!-- Date/Time -->

                    <p align="right">@localizer["Tarih"] @item.OlusturulmaTarihi</p>

                    <!-- Post Content -->
                    <h2 class="mt-4">@item.Baslik</h2>

                    <p>@item.Icerik.Substring(0, 10)</p>

                    <table class="table culture-table">
                        <tr>
                            <a class="mt-4" href="/Home/YaziDetayIndex/@item.Id">@localizer["Oku"]</a>
                        </tr>
                    </table>


                    <hr>

                }
            </div>


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        function SetCulture(selectedValue) {
            var culture = "/?culture" + selectedValue + "&ui-culture-" + selectedValue;
            alert(culture);
            document.getElementById("cultureForm").action = culture;
            document.getElementById("cultureForm").submit();
        }
    </script>

</body>

</html>
